.sticker{
    --width: 90vw;
    background-size: cover;
    width: var(--width);
    height: calc(1.12 * var(--width));
    display: grid;
    grid-template-columns: 1fr;
    padding: 5vw;
    place-content: center;
    place-items: center;
}

.player-sticker{
    background-image: url("../../assets/images/card_player.svg");
    grid-template-rows: 1fr 6fr;
    grid-area: player;
    grid-template-areas: 
        "name"
        "board";
}

.ai-sticker{
    background-image: url("../../assets/images/card_ai.svg");
    grid-template-rows: 6fr 1fr;
    grid-area: ai;
    grid-template-areas: 
        "board"
        "name";
}

.name-tag{
    font-family: var(--font-hand);
    grid-area: name;
    justify-self: flex-start;
    font-size: 8vw;
    color: var(--c-black);
}

.board-container{
    display: grid;
    width: 100%;
    height: 100%;
    place-items: stretch;
    place-content: stretch;
    grid-area: board;
    gap: 1%;
}

.square{
    background-image: url("../../assets/images/square.svg");
    background-size: cover;
}

.ship{
    object-fit: contain;
}

.empty{
    
}

@media (min-width: 700px) and (orientation: landscape){
    .sticker{
        --width: 30vw;
        padding: 2vw;
    }

    .name-tag{
        font-size: 3vw;
    }
}