.sticker{
    --width: 90vw;
    background-size: cover;
    width: var(--width);
    height: calc(1.12 * var(--width));
    display: grid;
    grid-template-columns: 1fr;
    padding: 5vw;
    place-content: center;
    place-items: center;
}

.player-sticker{
    --width: 50vw;
    background-image: url("../../assets/images/card_player.svg");
    grid-template-rows: 1fr 6fr;
    grid-area: player;
    grid-template-areas: 
        "name"
        "board";
}

.ai-sticker{
    background-image: url("../../assets/images/card_ai.svg");
    grid-template-rows: 6fr 1fr;
    grid-area: ai;
    grid-template-areas: 
        "board"
        "name";
}

.name-tag{
    font-family: var(--font-hand);
    grid-area: name;
    justify-self: flex-start;
    font-size: 8vw;
    color: var(--c-black);
}

.player-sticker>.name-tag{
    font-size: 5vw;
}

.name-tag-active{
    color: var(--c-red);
}

.board-container{
    display: grid;
    width: 100%;
    height: 100%;
    place-items: stretch;
    place-content: stretch;
    grid-area: board;
    gap: 1%;
}

.square{
    background-image: url("../../assets/images/square.svg");
    background-size: cover;
}

.ship{
    position: absolute;
    object-fit: contain;
}

.ship-highlight{
    filter: brightness(0%) saturate(100%) invert(50%) sepia(40%) saturate(4232%) hue-rotate(186deg) brightness(99%) contrast(100%);
}

.empty{
    position: absolute;
    object-fit: contain;
    opacity: 0%;
}

.sunk{
    position: absolute;
    object-fit: contain;
}

.damaged{
    position: absolute;
    object-fit: contain;
    filter: invert(60%) sepia(75%) saturate(2859%) hue-rotate(331deg) brightness(99%) contrast(98%);
}

.missed{
    position: absolute;
    object-fit: contain;
    filter: invert(50%) sepia(40%) saturate(4232%) hue-rotate(186deg) brightness(99%) contrast(100%);
}

.ai-sticker .empty:hover{
    opacity: 100%;
    cursor: pointer;
}

.marked{
    opacity: 100%;
    filter: invert(14%) sepia(91%) saturate(3511%) hue-rotate(313deg) brightness(103%) contrast(104%);
}

.editor-empty{
    width: 90%;
    opacity: 0%;
}

.editor-empty:hover{
    opacity: 100%;
    cursor: pointer;
    filter: brightness(0%) saturate(100%) invert(50%) sepia(40%) saturate(4232%) hue-rotate(186deg) brightness(99%) contrast(100%);
}

@media (min-width: 700px) and (orientation: landscape){
    .sticker{
        --width: 30vw;
        padding: 2vw;
    }

    .name-tag{
        font-size: 3vw;
    }

    .player-sticker>.name-tag{
        font-size: 3vw;
    }
}