:root{
    --c-background: #98bfe2;
    --c-red: #d30c7b;
    --c-blue: #1e96fc;
    --c-grey: #545863;
    --c-orange: #f96e46;
    --c-black: black;
    --c-white: #f2f2f2;
    --c-none: rgba(0, 0, 0, 0);
}