.dialog{
    border: none;
    background-color: var(--c-background);
}

.dialog::backdrop{
    background-color: hsla(208, 56%, 74%, 100%);
    /*for some reason color variables are not working*/
}

.tutorial-form{
    background-color: var(--c-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 150vw) 1fr;
    grid-template-areas: 
    "tutorial"
    "next";
    place-content: center;
    place-items: center;
    gap: 5vw;
    width: 90vw;
}

.gameover-form{
    background-color: var(--c-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 
    "winner"
    "loser"
    "rotate";
    place-content: center;
    place-items: center;
    gap: 10vw;
    overflow: hidden;
}

.settings-form{
    background-color: var(--c-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content) 1fr;
    grid-template-areas: 
    "name-prompt"
    "name-box"
    "advanced"
    "speed"
    "next";
    gap: 10vw;
    place-items: center;
    place-content: center;
}

.fleet-editor-form{
    background-color: var(--c-background);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-areas: 
    "ship ship"
    "player player"
    "prev-ship next-ship"
    "random rotate"
    "next next";
    gap: 5vw;
    place-items: center;
    place-content: center;
}

.dialog-button{
    will-change: background-color, color, transform;
    background-color: var(--c-white);
    border-radius: 3vw;
    border: .3vw solid black;
    padding: 1vw;
    font-family: var(--font-hand);
    font-size: 7vw;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    box-shadow: 0vw 0vw .4vw .2vw rgba(0, 0, 0, 0.5);
    grid-area: next;
    place-self: flex-end;
    transition-duration: var(--a-duration);
    padding: 3vw;
}

.dialog-button:hover{
    background-color: var(--c-blue);
    color: var(--c-white);
}

.current-ship{
    will-change: opacity;
    opacity: 0;
    height: 30vw;
    width: 80vw;
    grid-area: ship;
}

.editor-button{
    background-color: var(--c-none);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    width: 30vw;
    cursor: pointer;
}

.next-button{
    will-change: transform;
    background-image: url("../../assets/images/arrow.svg");
    grid-area: next-ship;
    transition-duration: var(--a-duration);
}

.next-button:hover{
    transform: rotate(15deg);
    transition-duration: var(--a-duration);
}

.prev-button{
    will-change: transform;
    background-image: url("../../assets/images/arrow.svg");
    transform: scaleX(-1);
    grid-area: prev-ship;
    transition-duration: var(--a-duration);
}

.prev-button:hover{
    transform: scaleX(-1) rotate(15deg);
    transition-duration: var(--a-duration);
}

.random-button{
    will-change: transform;
    background-image: url("../../assets/images/randomize.svg");
    grid-area: random;
    transition-duration: var(--a-duration);
}

.random-button:hover{
    transform: rotate(15deg);
    transition-duration: var(--a-duration);
}

.rotate-button{
    will-change: transform;
    background-image: url("../../assets/images/rotate.svg");
    grid-area: rotate;
    transition-duration: var(--a-duration);
}

.rotate-button:hover{
    transform: rotate(15deg);
    transition-duration: var(--a-duration);
}

.visible{
    opacity: 1;
}

@media (min-width: 700px) and (orientation: landscape){
    
    .settings-form{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content) 1fr;
        grid-template-areas: 
        "name-prompt name-box"
        "sdvanced speed"
        "next next";
        gap: 2vw;
    }

    .dialog-button{
        padding: 1vw;
        font-size: 2vw;
        border: .1vw solid black;
        border-radius: 1vw;
        box-shadow: 0vw 0vw .2vw .1vw rgba(0, 0, 0, 0.5);
    }

    .fleet-editor-form{
        grid-template-columns: 1fr repeat(2, .5fr);
        grid-template-rows: repeat(3, 2fr) 1fr;
        grid-template-areas: 
        "player ship ship"
        "player prev-ship next-ship"
        "player random rotate"
        "next next next";
        gap: 2vw;
    }

    .current-ship{
        height: 10vw;
        width: 30vw;
    }

    .editor-button{
        height: 10vw;
        width: 10vw;
    }

    .gameover-form{
        gap: 2vw;
    }

    .tutorial-form{
        grid-template-rows: repeat(1, min-content) 1fr;
        gap: 1vw;
        width: 80vw;
    }
}