.gameover-sticker{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "gameover-name gameover-name"
    "gameover-shots gameover-ships";
    place-items: center;
}

.winner-sticker{
    background-image: url("../../assets/images/winner_sticker.svg");
    grid-area: winner;
    padding: 14vw 0 0 0;
    width: 90vw;
    height: 40vw;
}

.loser-sticker{
    background-image: url("../../assets/images/loser_sticker.svg");
    grid-area: loser;
    padding: 2vw 0 0 0;
    width: 90vw;
    height: 32vw;
}

.gameover-text{
    font-family: var(--font-hand);
    font-size: 9vw;
}

.gameover-name{
    grid-area: gameover-name;
    text-align: left;
}

.gameover-shots{
    grid-area: gameover-shots;
    color: var(--c-red);
    text-align: right;
    margin: 0 0 0 15vw;
}

.gameover-ships{
    grid-area: gameover-ships;
    color: var(--c-grey);
    margin: 0 0 0 15vw;
}

@media (min-width: 700px) and (orientation: landscape){

    .winner-sticker{
        padding: 5vw 0 0 0;
        width: 40vw;
        height: 15vw;
    }

    .loser-sticker{
        padding: 1vw 0 0 0;
        width: 40vw;
        height: 12vw;
    }

    .gameover-text{
        font-size: 3vw;
    }

    .gameover-shots{
        margin: 0 0 0 9vw;
    }

    .gameover-ships{
        margin: 0 0 0 2vw;
    }
}