.name-textbox{
    background-color: var(--c-white);
    border-radius: 4vw;
    border: .3vw solid black;
    padding: 3vw;
    font-family: var(--font-hand);
    font-size: 7vw;
    box-shadow: 0vw 0vw .4vw .2vw rgba(0, 0, 0, 0.5);
    grid-area: name-box;
    justify-self: stretch;
}

.checkbox-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-image: url("../../assets/images/advanced_mode.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90vw;
    height: 40vw;
    padding-bottom: 4vw;
    padding-top: 15vw;
    padding-right: 25vw;
    place-items: center;
    place-content: center;
}

.check-button{
    background-image: url("../../assets/images/square.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 8vw;
    height: 8vw;
    cursor: pointer;
}

.checkbox-label{
    font-family: var(--font-hand);
    font-size: 6vw;
    cursor: pointer;
}

.slider-container{
    background-image: url("../../assets/images/game_speed.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
    "title title"
    "slider label";
    width: 90vw;
    height: 50vw;
    grid-area: speed;
    align-items: center;
    padding: 15vw 0 0 15vw;
    gap: 10vw;
}

.slider-title{
    grid-area: title;
    font-family: var(--font-hand);
    font-size: 6vw;
}

.slider-label{
    color: var(--c-red);
    font-family: var(--font-hand);
    font-size: 6vw;
}

.slider {
    appearance: none;
    background-color: transparent;
    width: 100%;
}

.slider:focus {
    outline: none;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.5vw;
    cursor: pointer;
    background: var(--c-blue);
    border-radius: 1vw;
    border: .3vw solid var(--c-black);
}

.slider::-webkit-slider-thumb {
    border: .3vw solid var(--c-black);
    height: 7vw;
    width: 3vw;
    border-radius: 2vw;
    background: var(--c-white);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2.2vw;
}

.slider:focus::-webkit-slider-runnable-track {
    background: var(--c-blue);
}

.slider::-moz-range-track {
    width: 100%;
    height: 2.5vw;
    cursor: pointer;
    background: var(--c-blue);
    border-radius: 1vw;
    border: .3vw solid var(--c-black);
}

.slider::-moz-range-thumb {
    border: .3vw solid var(--c-black);
    height: 7vw;
    width: 3vw;
    border-radius: 2vw;
    background: var(--c-white);
    cursor: pointer;
}

@media (min-width: 700px) and (orientation: landscape){
    
    .slider{

    }

    .slider::-webkit-slider-runnable-track {
        height: 1vw;
        border-radius: .4vw;
        border: .05vw solid var(--c-black);
    }

    .slider::-webkit-slider-thumb {
        border: .05vw solid var(--c-black);
        height: 2.5vw;
        width: 1vw;
        border-radius: 1vw;
        margin-top: -.8vw;
    }

    .slider::-moz-range-track {
        height: 1vw;
        border-radius: .4vw;
        border: .05vw solid var(--c-black);
    }

    .slider::-moz-range-thumb {
        border: .05vw solid var(--c-black);
        height: 2.5vw;
        width: 1vw;
        border-radius: 1vw;
    }

    .slider-label{
        font-size: 2vw;
    }

    .slider-container{
        width: 30vw;
        height: 15vw;
        padding: 3.5vw 0 0 5vw;
        gap: 5vw;
    }

    .slider-title{
        font-size: 2vw;
    }

    .name-textbox{
        font-size: 2vw;
        border: .05vw solid black;
        padding: 1vw;
        border-radius: 1vw;
        box-shadow: 0vw 0vw .2vw .1vw rgba(0, 0, 0, 0.5);
    }

    .checkbox-container{
        width: 30vw;
        height: 12vw;
        padding-bottom: 4vw;
        padding-top: 8vw;
        padding-right: 8vw;
    }

    .checkbox-label{
        font-size: 2vw;
    }

    .check-button{
        width: 3vw;
        height: 3vw;
    }
}