.name-textbox{
    background-color: var(--c-white);
    border-radius: 1vw;
    border: .2vh solid black;
    padding: 1vw;
    font-family: var(--font-hand);
    font-size: 2vw;
    box-shadow: 0vw 0vw .2vw .1vw rgba(0, 0, 0, 0.5);
    grid-area: name-box;
    justify-self: stretch;
}

.checkbox-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-image: url("../../assets/images/advanced_mode.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30vw;
    height: 12vw;
    padding-bottom: 4vw;
    padding-top: 8vw;
    padding-right: 8vw;
    place-items: center;
    place-content: center;
}

.check-button{
    background-image: url("../../assets/images/square.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

.checkbox-label{
    font-family: var(--font-hand);
    font-size: 2vw;
    cursor: pointer;
}