.name-textbox{
    background-color: var(--c-white);
    border-radius: 4vw;
    border: .3vw solid black;
    padding: 3vw;
    font-family: var(--font-hand);
    font-size: 7vw;
    box-shadow: 0vw 0vw .4vw .2vw rgba(0, 0, 0, 0.5);
    grid-area: name-box;
    justify-self: stretch;
}

.checkbox-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-image: url("../../assets/images/advanced_mode.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90vw;
    height: 40vw;
    padding-bottom: 4vw;
    padding-top: 15vw;
    padding-right: 25vw;
    place-items: center;
    place-content: center;
}

.check-button{
    background-image: url("../../assets/images/square.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 8vw;
    height: 8vw;
    cursor: pointer;
}

.checkbox-label{
    font-family: var(--font-hand);
    font-size: 6vw;
    cursor: pointer;
}

@media (min-width: 700px) and (orientation: landscape){
    .name-textbox{
        font-size: 2vw;
        border: .05vw solid black;
        padding: 1vw;
        border-radius: 1vw;
        box-shadow: 0vw 0vw .2vw .1vw rgba(0, 0, 0, 0.5);
    }

    .checkbox-container{
        width: 30vw;
        height: 12vw;
        padding-bottom: 4vw;
        padding-top: 8vw;
        padding-right: 8vw;
    }

    .checkbox-label{
        font-size: 2vw;
    }

    .check-button{
        width: 3vw;
        height: 3vw;
    }
}