.name-prompt{
    font-family: var(--font-hand);
    font-size: 7vw;
}

.name-prompt-container{
    display: flex;
    flex-direction: row;
    background-image: url("../../assets/images/name_sticker.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: 25vw;
    align-items: center;
    justify-content: flex-end;
    padding: 9vw;
    padding-top: 11vw;
}

@media (min-width: 700px) and (orientation: landscape){
    
    .name-prompt{
        font-size: 2.5vw;
    }

    .name-prompt-container{
        width: 30vw;
        height: 7vw;
        padding: 3vw;
        padding-top: 4.5vw;
    }
}