@import url("./reset.css");
@import url("./fonts.css");
@import url("./colors.css");
@import url("./board.css");
@import url("./controls.css");
@import url("./dialog.css");
@import url("./input.css");
@import url("./prompts.css");
@import url("./gameover.css");
@import url("./variables.css");
@import url("./tutorial.css");

body{
    background-color: var(--c-background);
    display: grid;
    width: 100vw;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "ai ai"
        "player controls";
    place-items: center;
    place-content: center;
    gap: 4vw;
    padding: 30vw 0 10vw 0;
}

.full-screen{
    position: absolute;
    left: 5vw;
    top: 5vw;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20vw;
    height: 20vw;
    transition-duration: var(--a-duration);
}


.full-screen:enabled{
    cursor: pointer;
    transition-duration: var(--a-duration);
}

.full-screen:disabled{
    visibility: hidden;
    transition-duration: var(--a-duration);
}

.full-screen:enabled:hover{
    transform: rotate(15deg) scale(1.1);
    transition-duration: var(--a-duration);
}

.enable-full-screen{
    background-image: url("../../assets/images/en_fscr.svg");
}

.disable-full-screen{
    background-image: url("../../assets/images/dis_fscr.svg");
}

@media (min-width: 700px) and (orientation: landscape){
    body
    {
        grid-template-rows: repeat(1, min-content);
        grid-template-columns: 3fr 2fr 3fr;
        grid-template-areas: 
        "player controls ai";
        gap: 2vh;
        padding: 0 0 0 0;
    }

    .full-screen{
        left: 2vw;
        top: 2vw;
        width: 5vw;
        height: 5vw;
    }
}