.tutorial-container{
    will-change: transform, opacity;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    background-color: var(--c-white);
    place-items: center;
    place-content: center;
    opacity: 0;
    padding: 5vw 5vw 3vw 5vw;
    grid-area: tutorial;
    gap: 3vw;
    cursor: pointer;
    box-shadow: 0vw 0vw .4vw .2vw rgba(0, 0, 0, 0.5);
    border: .3vw solid black;
    transition-duration: 900ms;
    transition-timing-function: ease-in-out;
    width: 70vw;
    transform: translate(-50vw, 0);
    pointer-events: none;
}

.tutorial-container-visible{
    will-change: transform, opacity;
    opacity: 100%;
    pointer-events: all;
    transform: translate(0vw, 0vw);
}

.tutorial-container-visible:nth-child(odd){
    transform: translate(0vw, 2vw) rotate(10deg);
}

.tutorial-container-visible:nth-child(even){
    transform: translate(0vw, 2vw) rotate(-5deg);
}

.tutorial-container-visible:first-child{
    transform: translate(0vw, 2vw);
}

.tutorial-text{
    font-family: var(--font-hand);
    word-wrap: break-word;
    text-align: left;
    place-self: stretch;
    font-size: 5vw;
    width: 60vw;
    cursor: pointer;
}

.tutorial-img{
    cursor: pointer;
}

@media (min-width: 700px) and (orientation: landscape){
    
    .tutorial-container{
        padding: 2vw 2vw 1vw 2vw;
        gap: 1vw;
        box-shadow: 0vw 0vw .2vw .1vw rgba(0, 0, 0, 0.5);
        border: .1vw solid black;
        width: 30vw;
    }

    .tutorial-text{
        font-size: 1.5vw;
        width: 25vw;
    }

    .tutorial-container-visible{

    }
}